body {
    padding: 40px;
    margin: 0px;
    font-family: "Noto Serif", serif;
    background-image: url("https://4kwallpapers.com/images/wallpapers/soft-gradient-3840x2160-20099.jpg")
    
}
.card {
    margin: 0 auto;
    padding: 20px;
    max-width: 650px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(37, 88, 73);
    background-color: #dff5ed;
}

/*Estilo Login*/

h1 {
    background-color: #79dab1;
    font-size: 36px;
    font-family: "Roboto Flex", sans-serif;
    text-align: center;
    padding: 20px;
}

/*Estilo Menu*/

.navbar {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    flex-wrap: nowrap;
    background-color: #1c76fd;
}

#infobalance {
    font-size: 30px;
    margin: 10px;
}

#balance {
    font-weight: bold;
    font-size: 50px;
}

/*Estilo Deposito*/

.infodeposit {
    text-align: center;
    font-size: 25px;
    margin: 10px;
}

.infodeposit p {
    font-size: 16px;
    text-align: start;
    margin-top: 10px;
}

#mostrarsaldo {
    font-weight: bold;
}


/* estilo lista de movimientos */
li {
    border: 1px solid;
    border-color: black;
    padding: 16px;
    list-style: none;
}

#mensaje {
    z-index: 200;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 3px;
    font-size: 30px;
}
/*Estilo Send Money*/
.popup {
    background-color: #dff5ed;
    border-style: solid;
    border-color: rgb(37, 88, 73);
    border-width: 2px;
    margin: 3px;
    z-index: 200;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
}
.popup button {
    margin-top: 10px;
}